@page
@model PetFinder.Pages.Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Race)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet?.Id" type="button" class="btn btn-secondary">Edit</a> |
    <a asp-page="./Index" type="button" class="btn btn-outline-secondary">Back to List</a>
</div>
